    <h1>About hooz.in</h1>
    <p>
      hooz.in is a project to create a simple travel coordinator for you and your crew. We'd like to think that you would travel with more of your friends and family if it were easier to organize. That's why we're here. Just select a place and time, send to your people for their input, and find out hooz.in!
    </p>
